{% if page.url contains "/notes" %}
  <link rel="stylesheet" href="{{ '/assets/css/notes-cards.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">
{% endif %}

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
