<link rel="stylesheet" href="{{ '/assets/css/typography.css' | relative_url }}">

{% if page.url contains "/notes" %}
  <link rel="stylesheet" href="{{ '/assets/css/notes-cards.css' | relative_url }}">
{% endif %}

{% if page.interactive_map %}
  <link rel="icon" href="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Ctext y='.9em' font-size='90'%3E%F0%9F%97%BA%EF%B8%8F%3C/text%3E%3C/svg%3E">
  <link rel="stylesheet" href="{{ '/assets/css/interactive-map.css' | relative_url }}">
  <script defer src="{{ '/assets/js/interactive-map.js' | relative_url }}"></script>
{% endif %}

<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    },
    options: {
      skipHtmlTags: ['script','noscript','style','textarea','pre','code']
    }
  };
</script>
<script defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
